:root {
	--color-theme-primary: #ff5500;
	--color-text-primary: #fff;
	--color-text-secondary: rgba(255, 255, 255, 0.6);
	--color-bg-primary: #161616;
	--color-bg-secondary: #1f1f1f;
	--color-bg-elevated-4: rgb(39, 39, 39);
	--color-bg-elevated-12: rgb(51, 51, 51);
	--color-button-disabled: #fea3756c;
	--font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
	font-family: var(--font-family);
	background: var(--color-bg-primary);
	color: var(--color-text-secondary);
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	width: 400px;
	overflow: hidden;
}

.heading {
	background: var(--color-bg-elevated-4);
	color: var(--color-theme-primary);
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 22px 25px;
	text-align: start;
}

.info {
	display: block;
	color: var(--color-text-secondary);
	font-size: 11px;
	font-weight: 400;
}

.creators {
	color: var(--color-text-primary);
	font-size: 11px;
}

.sub-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-bg-elevated-12);
	color: var(--color-theme-primary);
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 16px 25px;
}

.content-container {
	padding: 15px 40px;
}

.option {
	padding-bottom: 25px;
}

.option-heading {
	display: flex;
	align-items: center;
	color: var(--color-text-primary);
	font-size: 13px;
	font-weight: 600;
	text-align: start;
}

.option-helper {
	fill: #fff;
	width: 10px;
	height: 10px;
	padding: 1px;
	margin-left: 5px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.option-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.option-text {
	display: inline-block;
}

.option-action {
	display: flex;
	justify-content: flex-end;
	min-width: 75px;
	max-width: 75px;
	padding-left: 10px;
}

#button-edit-group {
	padding: 7px 0px;
}

#button-edit-group > .toggle-btn:first-child {
	border-radius: 4px 0 0 4px;
}

#button-edit-group > .toggle-btn:last-child {
	border-radius: 0 4px 4px 0;
}

.toggle-btn {
	background: var(--color-bg-secondary);
	border: 1px solid #303030;
	color: var(--color-text-secondary);
	cursor: pointer;
	overflow: hidden;
	padding: 6px 12px;
	transition: background 100ms;
}

.toggle-btn:hover:not(.toggle-btn-active) {
	background: #282828;
}

.toggle-btn-active {
	background: #303030;
	color: var(--color-text-primary);
}

#form-input {
	background: var(--color-bg-secondary);
	border: 0px;
	border-bottom: 1px solid var(--color-text-primary);
	color: var(--color-text-primary);
	height: 29px;
	font-size: 13px;
	padding: 0px 10px;
	margin-right: 10px;
	width: 60px;
}

#form-input:disabled {
	background: var(--color-bg-secondary);
	border-bottom: 1px solid var(--color-text-secondary);
}

#form-input:disabled::placeholder {
	color: var(--color-text-secondary);
}

#form-input::placeholder {
	color: var(--color-text-primary);
}

#form-select {
	background: var(--color-bg-secondary);
	border: 0px;
	color: var(--color-text-primary);
	height: 29px;
	font-size: 13px;
	width: 70px;
}

.option-desc {
	color: var(--color-text-secondary);
	font-size: 11px;
	font-weight: 400;
}

.form-submit-btn {
	background: var(--color-theme-primary);
	border: 0px;
	border-radius: 2px;
	color: var(--color-text-primary);
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	height: 28px;
	min-width: 75px;
	text-transform: uppercase;
	transition: background 100ms;
}

.form-submit-btn:hover:not(:disabled) {
	background: #ff5500b3;
}

.form-submit-btn:active:not(:disabled) {
	background: #f87b3d8b;
}

.form-submit-btn:disabled {
	background: var(--color-button-disabled);
	color: var(--color-text-secondary);
	cursor: auto;
}

.toggle {
	display: inline-block;
	height: 10px;
	min-width: 35px;
	position: relative;
	width: 25px;
}

.toggle-switch-input {
	display: none;
}

.toggle-switch-input:checked + .toggle-span {
	background: #fea3756c;
}

.toggle-switch-input:checked + .toggle-span:before {
	background: var(--color-theme-primary);
	transform: translate(18px, 0);
}

.toggle-span {
	background: var(--color-text-secondary);
	border-radius: 28px;
	bottom: 0;
	cursor: pointer;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.25s;
	width: 100%;
}

.toggle-span:before {
	background: var(--color-text-primary);
	border-radius: 100%;
	bottom: -5px;
	content: '';
	display: block;
	height: 20px;
	left: -2px;
	position: absolute;
	transition: all 0.25s;
	width: 20px;
}

.form-color-picker {
	border: none;
	display: block;
	height: 100%;
	opacity: 0;
	width: 30px;
}

#form-color-picker-wrapper2 {
	margin-left: 7px;
}

.feedback {
	align-items: center;
	animation: fadeIn 0.25s;
	background: rgb(0, 153, 51);
	border-radius: 3px;
	color: var(--color-text-primary);
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
	max-height: 40px;
	padding: 10px 25px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.clr-field button,
#clr-color-preview,
input#clr-color-value {
	display: none;
}

.clr-field {
	height: 27px;
	margin-left: auto;
	margin-right: 0;
	width: 34px;
}

.clr-picker {
	padding-bottom: 10px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
